html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html{
    font-family:'Inter', sans-serif;
    background-color: #E1E3D8;

}

h1{
    margin: 0 auto;
    width: 90%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #106900;
}

h3{
    font-size: 1.25rem;
    color: #106900;
}

input, button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    outline: none;
    box-sizing: border-box;
}

button{
    border: 2px #106900 solid;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

#input-color-and-add-container{
    margin: 0 auto;
    background-color: #E1E3D8;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

#animal-input{
    text-align: center;
    width: 100%;
    border: 2px #106900 solid;
    border-radius: 1rem;
    height: 3.75rem;
    font-size: 20px; 
    color: #106900;
    margin-bottom: 2rem;
    background-color: #E1E3D8;
}

#color-and-button{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color:#E1E3D8;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 5rem;
}

#label-and-color-input{
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: #E1E3D8; 
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    width: 50%;
    border: 2px solid #106900;
}

#label-and-color-input:hover{
    background-color:#8DB282;
}

#color-input{ 
    height: 3rem;
    width: 4rem;
    border-radius: 1.5rem;
}


#add-btn{
    height: 3.75rem;
    width: 50%;
    background-color:#E1E3D8;
    border: 2px #106900 solid; 
    font-size: 20px;
    color: #106900;
    display: flex;
    justify-content: center;
}



#list-and-card-views-container{
    margin: 0 auto;
    display: flex;
    gap: 1.25rem;
    width: 90%;
   justify-content: center;
   background-color: #E1E3D8;
}
.btn-container{
    background-color:#E1E3D8;
    width: 50%;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 22px;
    margin-bottom: 2rem;
    color: #106900;
}

.list-view{
    margin: 0 auto;
    width: 90%; 
    background-color:#106900;
    border-radius: 1rem;
    display: flex;
    flex-direction: column; 
}

.list-view li {
    padding: 1rem 1rem 1rem 1rem;
    height: 1.5rem;
    display: list-item;
    font-size: 22px;
    color: white;
}

ul {
    list-style-position: inside; 
    list-style-type: disc; 
    padding-left: 0; 
    margin-left: 0;  
    font-size: 1.5rem;
  }

.card-view {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width:90%; 
}

.card-view li {
    display: block;
    width: 100%;
    background-color:#106900;
    height: 3rem;
    border: 1px solid #106900;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


  button:hover{
    cursor: pointer;
  }

  .btn-container:hover{
    background-color:#8DB282;
    color:#E1E3D8; 
  }
  
  .btn-container:active{
    background-color: #106900;
    font-weight: bold;
    color:#E1E3D8; 
  }

  #add-btn:hover{
    background-color:#8DB282;
    color:#E1E3D8; 
  }

  #add-btn:active{
    background-color: #106900;
    font-weight: bold;
    color:#E1E3D8; 
  }

  .delete-btn{ 
    color: #106900 ;
    margin: 0 ;
    padding:0;
    border: 2px solid #106900;
    background: none;
    font: inherit;
    color: inherit;
    outline: none;
    box-sizing: border-box;
  }

  .delete-btn:hover{ 
    color:red; 
    border: 3px solid #106900;
  }

  .delete-btn:active{ 
    color: red;
    font-weight: bold;
  }

  .li-and-delete-button{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    gap: 2rem;
  }

  li{ 
    color: #E1E3D8;
  }

  .list-view #li-and-delete-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100;
    padding: 0 1.5rem;
    box-sizing: border-box;
  }

.li-and-delete-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;             
    padding: 0.375rem 0;  
  }
  
  .li-and-delete-button > li {
    margin: 0;
    list-style: none;
  }
  
  .li-and-delete-button .delete-btn,
  .li-and-delete-button .color-btn {
    display: inline-flex;           
    align-items: center;
    justify-content: center;
    height: 2rem;                    
    min-width: 2rem;                
    padding: 0 0.5rem;                  
    border: 0.1rem  solid #106900;
    border-radius: 6px;
    background: #E1E3D8;
    cursor: pointer;
    line-height: 1;                  
  }

  .li-and-delete-button .color-btn {
     font-size: 18px;
     }

  .li-and-delete-button .delete-btn {
     font-size: 14px; 
    }
  
  .li-and-delete-button .delete-btn:hover,
  .li-and-delete-button .color-btn:hover {
    background-color: #E1E3D8;
  }
  
.list-view .color-btn {
   display: none; 
  }

.list-view .color-picker {
   display: none !important;
   }

#list-bg-color-control{ 
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: end;
}

body.list-view-mode #label-and-color-input { 
  display: none;
}

body:not(.list-view-mode) #label-and-color-input {
   display: flex; 
  }

#list-bg-color-control { 
    display: none;           
    width: 90%;
    display: none;
    justify-content: end;
  }

  body.list-view-mode #list-bg-color-control {
    display: flex;           
  }

  .list-view .li-and-delete-button {
    padding: 0.375rem 1rem;   
    justify-content: space-between; 
    box-sizing: border-box;
  }

  img{
    margin: 0 auto;
    width: 30%;
    display: flex;
    align-self: center;
  }
  
  footer{ 
    margin-top: 2rem;
  }

  .list-view .delete-btn
  {
    border-color: #E1E3D8;

  }

  @media only screen and (min-width: 769px) {

    .card-view .li-and-delete-button {
        flex: 0 1 calc(50% - 1rem);
    }
    .card-view {
      justify-content: space-between;
    }
}
    

  @media only screen and (min-width: 1279px) {
    html{
        font-size: 18px; 

    }
    h1{ 
        text-align: left;
    }
    .card-view .li-and-delete-button {
        flex: 0 1 calc(33.333% - 1rem); 
        box-sizing: border-box;

    }


}

    

